.About{
    position: relative;
}
.image{
    filter: grayscale(30%);
    object-fit: cover;

    /* object-position: inherit; */
/* object-position: initial; */
/* object-position: revert; */
/* object-position: revert-layer; */
/* object-position: unset; */
    /* object-position: revert; */
}
/* .About::after{
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index:4;
    background-color: rgba(0, 0, 0, 0.4);
} */
.About_item{
    position: absolute;
    top:15%;
    left:80px;
    z-index:10;
}
.name{
    font-weight: 700;
    font-size: 82px;
    font-family: "Poppins", sans-serif;
    text-align:start;
    display: block;
    margin-bottom: 0;
    background: -webkit-linear-gradient(#ff9696, #ffe89e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title{
    color:white;
    text-align:start;
    font-size:16px;
    font-family: "Poppins", sans-serif;
    line-height:30.4px;
    vertical-align: baseline;
    letter-spacing:normal;
    margin:30px 0px 40px;
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(255, 255, 255)
}
.homeLink{
    position:absolute;
    bottom:-50px;
    left:0;
}
.button{
    padding:13px 33px;
    border-radius:25px;
    transition: .2s linear;
    text-align:start;
    margin-right:40px;
    z-index: 1;
    min-width: 160px;
    height: 46px;
    line-height: 42px;
    font-size: 16px;
    font-weight: 500;
    text-transform: capitalize;
    background-color: transparent;
    border: 2px solid #fc6060;
}
.button:hover{
    background-color:rgb(252,96,96);
}
.email{
    color:white;
    font-style: italic;
    text-decoration: underline;
    transition-duration: 500ms;
    outline: none;
    font-weight: 500;
}
.email:hover{
   color:rgb(252,96,96);
}
@media screen and (max-width: 700px) {
    .name{
        font-weight: 300;
    font-size: 40px;
    }
    .button{
        padding:8px 20px;
    }
    .title{
        font-size:16px;
        margin:5px 0px 15px
    }
  }
  @media screen and (max-width: 400px) {
    .About_item{
        top:5%;
    }
    .name{
        font-weight: 300;
    font-size: 30px;
    }
    .title{
        font-size:12px;
        margin:5px 0px 15px;
        font-weight:200;

    }
    .email{
        display: block;
    }
  }
  